---
layout: default
title: "MysticVista"
description: "Where Magic Meets Horizon: Seeking the Secrets at the World’s Magical Margins"
---
<div class="md:grid md:h-screen md:place-items-center">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 md:flex gap-x-8 items-center">
    <div class="flex-inital w-xl my-8">
      <h1 class="uppercase tracking-widest">MysticVista</h1>
      <h2 class="text-7xl font-black my-8">Where Magic <span class="text-amber-200">Meets Horizon</span></h2>
      <p class="text-2xl">Seeking the Secrets at the World’s Magical Margins</p>
    </div>
    <div class="flex-1"><img src="/img/mysticvista.png" alt="MysticVista" class=" max-w-md lg:max-w-xl md:float-right rounded-full"></div>
  </div>
</div>
